[Unit]
Description=OmniRover Start
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/mbot/mbot_mqtt_movement/
ExecStart=/home/pi/mbot/mbot_mqtt_movement/env/bin/python3 mbot_start.py -c mbot_config.json


[Install]
WantedBy=multi-user.target